/* PC */
/*
body {
    background: rgba(0, 0, 0, 0) radial-gradient(circle, #fff 20%, #999) repeat scroll 0 0;
}
*/

.pc {
  max-width: 800px;
}

.pcScreen {
  background: #000;
  border-radius: 3% 3% 0.5% 0.5% / 5%;
  margin: 0 auto;
  /* for aspect ratio */
  position: relative;
  width: 80%;
}

.pcScreen:before {
  border: 2px solid #cacacc;
  border-radius: 3% 3% 0.5% 0.5% / 5%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.8) inset,
    0 0 1px 2px rgba(255, 255, 255, 0.3) inset;
  content: "";
  display: block;
  /* for aspect ratio ~67:100 */
  padding-top: 67%;
}

.pcScreen:after {
  content: "";
  border-top: 2px solid rgba(255, 255, 255, 0.15);
  position: absolute;
  bottom: 0.75%;
  left: 0.5%;
  padding-top: 1%;
  width: 99%;
}

.pcViewport {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: 4.3% 3.2%;
  background: #333;
}

.pcBase {
  /* for aspect ratio */
  position: relative;
  width: 100%;
}

.pcBase:before {
  content: "";
  display: block;
  /* for aspect ratio ~33:1000*/
  padding-top: 3.3%;
  /* stylin */
  background: linear-gradient(
    #eaeced,
    #edeef0 55%,
    #fff 55%,
    #8a8b8f 56%,
    #999ba0 61%,
    #4b4b4f 84%,
    #262627 89%,
    rgba(0, 0, 0, 0.01) 98%
  );
  border-radius: 0 0 10% 10%/ 0 0 50% 50%;
}

.pcBase::after {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.8) 0.5%,
    rgba(0, 0, 0, 0.4) 3.3%,
    transparent 15%,
    rgba(255, 255, 255, 0.8) 50%,
    transparent 85%,
    rgba(0, 0, 0, 0.4) 96.7%,
    rgba(255, 255, 255, 0.8) 99.5%,
    rgba(0, 0, 0, 0.5) 100%
  );
  content: "";
  height: 53%;
  position: absolute;
  top: 0;
  width: 100%;
}

.pcNotch {
  background: #ddd;
  border-radius: 0 0 7% 7% / 0 0 95% 95%;
  box-shadow: -5px -1px 3px rgba(0, 0, 0, 0.2) inset,
    5px -1px 3px rgba(0, 0, 0, 0.2) inset;
  margin-left: auto;
  margin-right: auto;
  margin-top: -3.5%;
  z-index: 2;
  /* for aspect ratio */
  position: relative;
  width: 14%;
}

.pcNotch:before {
  content: "";
  display: block;
  /* for aspect ratio ~1:10 */
  padding-top: 10%;
}

/* Screenshot Hover Scroll Additions
    -------------------------------------------------------------- */

.pc .pcViewport {
  transition: background-position 3s ease;
  background-position: 0 0;
  background-size: 100% auto;
  overflow: hidden;
  cursor: pointer;
}

.pc:hover .pcViewport {
  background-position: 0 100%;
}

.pc .pcViewport:after {
  background: radial-gradient(
    circle at right bottom,
    transparent 75%,
    rgba(255, 255, 255, 0.05) 75%,
    transparent
  );
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
/* END PC */

/* MOBILE */
#bgsProjectView {
  flex-grow: 1;
  background-color: var(--bgs-view-color);
  /*
        display: flex;
        align-items: center;
        justify-content: center;
        */
  /*overflow: hidden;*/
}
.mobileContainer {
  justify-content: center;
  align-items: center;
}

.mobileObj {
  cursor: all-scroll;
  position: relative;
}
.mobile {
  height: calc(var(--phone-height) * 1 / 4);
  width: calc(var(--phone-width) * 1 / 4);
  transform: scale(var(--phone-scale));
  padding: var(--phone-border);
  background-color: var(--phone-color);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);
  border-radius: var(--phone-radius);
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  /*box-shadow: 0 0 5px #505050 inset;*/
  animation: floatMobile 2.4s ease-in-out infinite;
}
.mobileButton {
  position: absolute;
  height: 6%;
  /*width: 2px;*/
  width: 3px;
  background-color: var(--phone-color);
  top: 20%;
}
.mobileButton.mobileButtonRight {
  right: -2px;
  border-radius: 0 2px 2px 0;
}
.mobileButton.mobileButtonLarge {
  height: 8%;
}
.mobileButton.mobileButtonLeft {
  left: -2px;
  border-radius: 2px 0 0 2px;
}
.mobileButton.mobileButtonDown {
  top: 28%;
}
.mobileIn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: calc(var(--phone-radius) - var(--phone-border));
}
.mobileIn .mobileStatusBar {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(var(--notch-height));
  width: 100%;
  display: flex;
  justify-content: center;
}
.mobileIn .mobileNotch {
  width: var(--notch-width);
  height: 100%;
  /*background-color: var(--phone-color);*/
  background-color: var(--phone-notch-color);
  border-radius: 0 0 30px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.mobileIn .mobileNotch .mobileAudio {
  flex-grow: 1;
  height: 20%;
  max-width: 40%;
  margin-right: 5%;
  border-radius: 20%;
  /*box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);*/
  box-shadow: inset 0 0 2px rgba(0, 0, 0);
  margin-bottom: calc(var(--phone-border) / 2);
}
.mobileIn .mobileNotch .mobileCamera {
  margin-left: 5%;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  /*box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);*/
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.55);
  margin-bottom: calc(var(--phone-border) / 2);
}
.mobileIn .mobileScreen {
  height: 100%;
  width: 100%;
  background-color: white;
}
.mobileAppCont {
  height: 100%;
  width: 100%;
}
/*
    .mobileAppCont {
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/451895/datauri-generator-preview.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    */

@keyframes floatMobile {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-35px);
  }

  100% {
    transform: translatey(0px);
  }
}

.mobileShadow {
  background: #515151;
  width: 260px;
  height: 7px;
  animation: expandShadow 2.4s ease-in-out infinite;
  border-radius: 45%;
  margin: 0 auto;
}

@keyframes expandShadow {
  0%,
  100% {
    transform: scale(0.65);
    filter: blur(2px);
  }

  50% {
    transform: scale(0.55);
    filter: blur(6px);
  }
}
/* END MOBILE */

/* 1SA TERMINAL */
.containerTerminal {
  width: 380px;
  height: 248px;
  cursor: default !important;
  /* Add box shadow */
  box-shadow: 12px 15px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.terminalToolbar {
  display: flex;
  height: 35px;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(#504b45 0%, #3c3b37 100%);
}

.addTab {
  border: 1px solid #d5d0ce;
  color: #d5d0ce;
  padding: 0 6px;
  border-radius: 4px 4px 0 0;
  border-bottom: none;
  cursor: default;
}

.terminalToolbar i {
  font-size: 12px;
  color: #d5d0ce;
}

.terminalUserParagraph {
  color: #d5d0ce;
  margin-left: 6px;
  font-size: 14px;
  line-height: 15px;
  font-weight: bold;
  /* margin-top: 18px; */
  margin-top: 3px;
  margin-right: 12px !important;
  margin-left: 85px;
}

.toolbarBtn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: default !important;
  font-size: 16px;
  margin-left: 5px;
}

.terminalBody {
  background: rgba(56, 4, 40, 0.9);
  height: calc(100% - 30px);
  padding-top: 2px;
  margin-top: -1px;
  font-size: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.terminalPrompt {
  display: flex;
}

.terminalPrompt span {
  margin-left: 4px;
}

.terminalUser {
  color: #7eda28;
}

.terminalLocation {
  color: #4878c0;
}

.terminalBling {
  color: #dddddd;
}

.terminalCursor {
  display: block;
  height: 14px;
  width: 5px;
  margin-left: 10px;
  animation: curb 1200ms linear infinite;
}

@keyframes curb {
  0% {
    background: #ffffff;
  }

  49% {
    background: #ffffff;
  }

  60% {
    background: transparent;
  }

  99% {
    background: transparent;
  }

  100% {
    background: #ffffff;
  }
}

/* END 1SA TERMINAL */
