@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Toggle Theme */
  --toggleHeight: 16em;
  --toggleWidth: 30em;
  --toggleBtnRadius: 10em;

  --bgColor--night: #423966;
  --toggleBtn-bgColor--night: var(--bgColor--night);
  --mooncolor: #d9fbff;
  --bgColor--day: #9ee3fb;
  --toggleBtn-bgColor--day: var(--bgColor--day);
  /* End Toggle Theme */

  /* Mobile */
  --phone-color: #000000a8;
  --phone-notch-color: #000000c2;
  --phone-border: 4px;
  --phone-radius: 20px;
  --phone-height: 1280px;
  --phone-width: 663px;
  --phone-scale: 1;
  --phone-x: 0;
  --phone-y: 0;
  --bgs-view-color: #efefef;
  --notch-height: 14px;
  --notch-width: 38%;
  /* End Mobile*/
}

/* CUSTOM LINE COLOR */
/* The line */
.vertical-timeline.vertical-timeline-dark-mode::before {
  background: #060717 !important;
  width: 6px;
}

/* Icon container's border */
.vertical-timeline.vertical-timeline-dark-mode
  .vertical-timeline-element
  .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #060717, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05) !important;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline.vertical-timeline-dark-mode.vertical-timeline--two-columns::before {
    margin-left: -3px;
  }
}
