.gridContainer {
  display: grid;
  gap: 3rem;
  height: 100%;
}

/* Large screens */
@media (min-width: 1528px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "first second"
      "first third";
  }

  .gridContainer > :nth-child(1) {
    grid-area: first;
    align-self: stretch;
  }
  .gridContainer > :nth-child(2) {
    grid-area: second;
    align-self: stretch;
  }
  .gridContainer > :nth-child(3) {
    grid-area: third;
    align-self: stretch;
  }
}

/* Medium screens */
@media (min-width: 1026px) and (max-width: 1527px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "first first"
      "second third";
  }

  .gridContainer > :nth-child(1) {
    grid-area: first;
    align-self: stretch;
  }
  .gridContainer > :nth-child(2) {
    grid-area: second;
    align-self: stretch;
  }
  .gridContainer > :nth-child(3) {
    grid-area: third;
    align-self: stretch;
  }
}

/* Small screens */
@media (max-width: 1025px) {
  .gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "first"
      "second"
      "third";
  }

  .gridContainer > :nth-child(1) {
    grid-area: first;
  }
  .gridContainer > :nth-child(2) {
    grid-area: second;
  }
  .gridContainer > :nth-child(3) {
    grid-area: third;
  }
}
